/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../.rvm/gems/ruby-1.9.2-p290@taazr/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../.rvm/gems/ruby-1.9.2-p290@taazr/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../.rvm/gems/ruby-1.9.2-p290@taazr/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../.rvm/gems/ruby-1.9.2-p290@taazr/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../.rvm/gems/ruby-1.9.2-p290@taazr/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../.rvm/gems/ruby-1.9.2-p290@taazr/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../.rvm/gems/ruby-1.9.2-p290@taazr/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../.rvm/gems/ruby-1.9.2-p290@taazr/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../.rvm/gems/ruby-1.9.2-p290@taazr/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 15, sass/screen.scss */
body {
  background-color: #b3b3b3;
  font-size: 14px;
  text-align: center;
  font-family: 'Gudea';
}

/* line 25, sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 800;
  font-family: 'Gudea';
}

/* line 31, sass/screen.scss */
h1 {
  margin-bottom: 1em;
  font-size: 1.2em;
  color: #4d4d4d;
}

/* line 38, sass/screen.scss */
p {
  margin: 1.2em 0;
}

/* line 42, sass/screen.scss */
a {
  text-shadow: white 1px 1px 5px;
  color: #9b2629;
  text-decoration: none;
}

/* line 51, sass/screen.scss */
a:visited {
  color: #9b2629;
}

/* line 55, sass/screen.scss */
table {
  font-size: inherit;
  font: 100%;
}

/* line 59, sass/screen.scss */
strong {
  font-weight: 800;
}

/* line 63, sass/screen.scss */
hr {
  border: 1px solid #f2f2f2;
  width: 30%;
}

/* line 68, sass/screen.scss */
blockquote {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 10px;
  border-left: 3px solid #fafafa;
}

/* line 73, sass/screen.scss */
em {
  font-style: italic;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
/* line 82, sass/screen.scss */
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

/* line 87, sass/screen.scss */
ul.posts li {
  font-size: 1em;
}
/* line 90, sass/screen.scss */
ul.posts li a {
  font-weight: 400;
}

/* line 95, sass/screen.scss */
ul.posts span {
  font-size: 80%;
  color: #999999;
  font-weight: 200;
  float: right;
}

/* line 102, sass/screen.scss */
p.posts {
  margin-bottom: 2em;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/
/* line 112, sass/screen.scss */
#content {
  width: 30em;
  width: 30em;
  font-size: 110%;
  text-align: left;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
}

/* line 120, sass/screen.scss */
.site {
  width: 60em;
  text-align: left;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
  background-color: white;
}

/* line 128, sass/screen.scss */
.title {
  width: 100%;
  font-size: 1.7em;
  font-family: 'helvetica neue',helvetica;
  font-weight: 200;
  margin-top: 0em;
  text-align: center;
  color: #4d4d4d;
  padding: 60px 0px;
  border-bottom: 1px solid #e6e6e6;
}
/* line 138, sass/screen.scss */
.title a {
  color: #9b2629;
  text-decoration: none;
}
/* line 142, sass/screen.scss */
.title a:hover {
  color: black;
}

/* line 147, sass/screen.scss */
.big {
  font-size: 1.5em;
}

/* line 150, sass/screen.scss */
.about {
  margin-bottom: 40px;
  color: black;
  font-weight: 200;
}
/* line 154, sass/screen.scss */
.about a {
  font-weight: 800;
}

/* line 160, sass/screen.scss */
.site ul {
  list-style-position: outside;
  margin-bottom: 2em;
}

/* line 168, sass/screen.scss */
.site .meta {
  color: #aaa;
  font-size: 1em;
}

/* line 173, sass/screen.scss */
.site .footer {
  font-size: 80%;
  color: #666;
  margin-top: 2em;
  padding-bottom: 2em;
  overflow: hidden;
  font-weight: 200;
}

/* line 182, sass/screen.scss */
.site .footer .contact {
  float: left;
  margin-right: 3em;
}

/* line 187, sass/screen.scss */
.site .footer .contact a {
  color: #207785;
}

/* line 191, sass/screen.scss */
.site .footer .rss {
  margin-top: 1.1em;
  margin-right: -0.2em;
  float: right;
}

/* line 197, sass/screen.scss */
.site .footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/
/* line 207, sass/screen.scss */
#post {
  width: 100%;
  margin: 0px auto;
}
/* line 210, sass/screen.scss */
#post strong {
  font-weight: 800;
}

/* line 215, sass/screen.scss */
#post {
  margin: 40px 0px;
}
/* line 218, sass/screen.scss */
#post h1 {
  color: #4d4d4d;
  margin: 0px;
  text-align: center;
}
/* line 223, sass/screen.scss */
#post p {
  line-height: 1.6em;
}
/* line 228, sass/screen.scss */
#post p.footnote {
  color: gray;
}
/* line 231, sass/screen.scss */
#post p.meta {
  font-size: .8em;
  font-weight: 100;
  margin-bottom: 3em;
  margin-top: .5em;
  font-family: 'Gudea';
  text-align: center;
}
/* line 242, sass/screen.scss */
#post p.scene {
  color: #b3b3b3;
  font-size: 1.2em;
  font-weight: 100;
}
/* line 247, sass/screen.scss */
#post #fn1 {
  margin-top: 3em;
}

/* standard */
/* line 255, sass/screen.scss */
#post pre {
  border: 1px solid #e1e8f0;
  background-color: #f2f5f9;
  padding: .2em .6em;
}

/* line 262, sass/screen.scss */
#post ul,
#post ol {
  list-style-type: disc;
}

/* line 270, sass/screen.scss */
#post ol {
  list-style-type: decimal;
}

/* line 274, sass/screen.scss */
#post code {
  border: 1px solid #ddd;
  background-color: #eef;
  font-size: 95%;
  padding: 0 .2em;
}

/* line 281, sass/screen.scss */
#post pre code {
  border: none;
}

/* terminal */
/* line 287, sass/screen.scss */
#post pre.terminal {
  border: 1px solid #4d4d4d;
  background-color: #666666;
  color: #e6e6e6;
}

/* line 296, sass/screen.scss */
#related {
  margin-top: 2em;
}

/* line 300, sass/screen.scss */
#related h2 {
  margin-bottom: 1em;
}
