@import "compass/reset";
@import "compass/css3/gradient";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "compass/css3/text-shadow";
@import "compass/css3/opacity";

$main-width:900px;
$pad:16px;
$green:#31c439;
$blue:#2929b0;
$nav-color:#cbd7e1;


body{
  font-family:'Gudea','helvetica neue',helvetica;
}

h1,h2,h3,h4{
  font-weight:800;
}

em{
  font-style:italic;
}
span.red{
  color:#d05e4b;
}
span.prox{
  font-size:.9em;
}
span.darkred{
  color:#d05e4b;
}
p span.darkred{
  font-weight:400;
}

header{
  position:relative;
  z-index:3;
  width:100%;
  height:55px;
  @include linear-gradient(black, lighten(black,20%) 33%);
  margin:0px 0px 0px 0px;
  font-size:14px;
  .title{
    width:$main-width;
    margin:0px auto;
    font-size:2em;
    font-weight:800;
    color:white;
    padding:12px 0px;
    a{
      text-decoration:none;
      color:inherit;
    }
    img{
      display:inline;
      clear:none;
    }
    .sub{
      //position:relative;
      //bottom:9px;
      font-weight:100;
      color:darken(white,10%);
      font-size:14px;
      //line-height:1.8em;
      display:inline;
      margin:10px 0px 0px 10px;
    }
  }
}

#top_nav{
  z-index:1;
  .title{
    width:$main-width;
    position:relative;
    a #cloud{
      text-decoration:none;
      color:inherit;
      cursor:default;
    }
    #cloud{
      position:absolute;
      width:275px;
      height:200px;
      //left:100%;
      top:-170px;
      right:0px;
      z-index:2;
      background-image:url('/resources/cloud.png');
      background-size:100%;
      background-repeat:no-repeat;
      button{
        position:relative;
        top:110px;
        left:25px;
        background:none;
        border:none;
        padding:8px 24px;
        //@include border-radius(5px);
        //        @include linear-gradient(lighten($green,15%), lighten($green,30%) 33%);
        //@include single-text-shadow(darken(white,10%), -1px, -1px, 2px);
        //        border:1px solid lighten($green,10%);
        font-weight:800;
        color:lighten(black,30%);
        font-size:1.5em;
      }
    }
    #cloud:hover{
      @include opacity(.7);
    }
    h1{
      position:relative;
      z-index:3;
      font-size:2.5em;
      //top:$pad;
      margin:1*$pad 0px;
    }
    span{
      position:relative;
      z-index:3;
      //line-height:2.5em;
      //font-family:'helvetica neue';
      //color:lighten(black,20%);
    }
    margin:4*$pad auto 4*$pad auto;
  }
  width:100%;
  padding:0px 0px $pad 0px;
  //background-color:$nav-color;
  @include linear-gradient(lighten($nav-color,5%), darken($nav-color,5%) 60%);
  border-top:1px solid darken($nav-color,5%);
  border-bottom:1px solid darken($nav-color,5%);
  ul{
   // font-family:'helvetica neue';
    width:$main-width;
    margin:0px auto;
    font-weight:800;
    color:lighten(black,20%);
    li{
      font-size:.8em;
      display:inline;
      margin:0px .5*$pad 0px 0px;
      padding:$pad 2*$pad;
      background-color:lighten($nav-color,10%); //lighten($nav-color,10%);
      //border-top:1px solid darken($nav-color,5%);
      //border-right:1px solid darken($nav-color,5%);
      //border-bottom:1px solid darken($nav-color,5%);
    }
    li#selected{
      background-color:white; //lighten($nav-color,10%);
      border-top:1px solid darken($nav-color,5%);
      border-right:1px solid darken($nav-color,5%);
      border-left:1px solid darken($nav-color,5%);
      border-bottom:none;
      color:black;
    }
    li:hover{
      background-color:darken($nav-color,10%);
    }
  }
}

.clear{
  clear:both;
}

#content{
  width:$main-width;
  margin:(2*$pad) auto;
  .sec + .sec{
    margin-top:2em;
  }
  .sec{
    h1{
      font-size:2em;
      span.num{
        font-size:1.5em;
        color:lighten(black,70%);
        margin:0px 10px 0px 0px;
      }
    }
    .half,.full{
      margin:2*$pad 4% 0px 0px;
      display:block;
      width:46%;
      float:left;
      img{
        max-width:94%;
        padding:3%;
        background-color:darken(white,5%);
        border:1px solid darken(white,10%);
      }
      h1{
        font-size:1.1em;
        font-weight:800;
        margin:0px 0px $pad 0px;
      }
      p{
        font-size:1.1em;
        line-height:1.6em;
      }
      textarea{
        width:96%;
        padding:2%;
        height:400px;
        border:1px solid darken(white,10%);
        font-size:1em;
      }
      button{
        display:inline;
        border:none;
        font-size:1.1em;
        padding:15px;
        @include border-radius(5px);
        background-color:$green;
        font-weight:800;
        color:white;
      }
      button:hover{
        @include opacity(.7);
      }
    }
  .full{
    width:90%;
    margin:2*$pad 0% 0px 0px;
  }
  }
}

#block_content{
  width:56%;
  float:left;
  margin:0px 6% 0px 0px;
  h1{
    font-size:2.5em;
  }
  #description{
    p{
      line-height:1.6;
      font-weight:400;
      margin:$pad 0px;
    }
    
  }
}

#block_side{
  width:37%;
  float:left;
  //border:1px solid darken(white, 20%);
  h1{
    font-size:1.5em;
  }
  #funding,#watchers,#posted,#followers,#supporters,#days{
    margin:0px 0px 2*$pad 0px;
    .num{
      font-size:2.4em;
      font-weight:800;
    }
    .title{
      margin:7px 0px;
      font-weight:800;
    }
  }
  #posted .title{
    color:lighten(black,40%);
  }
  #support{
    margin:0px 0px 2*$pad 0px;
    button{
      display:inline;
      border:none;
      font-size:.8em;
      padding:15px;
      @include border-radius(5px);
      background-color:$green;
      font-weight:800;
      color:white;
    }
    button:hover{
      background-color:lighten($green,10%);
    }
  }
}

.square{
  @include linear-gradient(darken(white,8%), darken(white, 10%) 60%);
  float:left;
  width:90%;
  display:block;
  padding:2*$pad $pad 0px $pad;
  background-color:darken(white,10%);
  //@include single-text-shadow(white, 1px, 1px, 1px);
  margin:0px 0px 1px 0px;
}

footer{
  width:100%;
  height:70px;
  @include linear-gradient(lighten(black,30%), lighten(black,20%) 60%);
  a{
    color:darken(white,30%);
  }
  ul{
    position:relative;
    top:20px;
    width:$main-width;
    margin:0px auto;
    list-style-type:none;
    color:darken(white,30%);
    li{
      display:inline;
      margin:0px 20px 0px 0px;
    }
  }
}